
<%- include('header'); -%>
<div class="box">
    <h2>Hi there! Thank you for visiting</h2>
    <p>This ToDo List is a small project I made during my web development journey, using EJS, Node, and Express.</p>
</div>
<a href="/"><button class="about">Back</button></a>

<%- include('footer'); -%>